* {
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    height: 100vh;
}

.main {
    background-color: #fff;
    padding: 20px;
    width: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    background: #fff;
}

.container .content {
    padding: 50px;
    display: grid;
    justify-content: flex-start;
    align-content: space-around;
    gap: 100px;
    width: 300px;
}

.container .content:first-child {
    border-radius: 5px 0 0 5px;
}

.container .content:last-child {
    border-radius: 0 5px 5px 0;
}

@media(max-width:768px) {
    .container {
        padding: 20px;
        display: grid;
        justify-content: center;
        align-content: center;
    }
}

.container .content:first-child {
    background: hsl(31, 77%, 52%);
}

.container .content:nth-child(2) {
    background: hsl(184, 100%, 22%);
}

.container .content:last-child {
    background: hsl(179, 100%, 13%);
}

.content div {
    display: grid;
    justify-content: flex-start;
    align-content: space-around;
    width: fit-content;
    gap: 30px;
}

.content div p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    width: 100%;
    padding: 0;
    line-height: 1.7;
    margin: 0;
}

.content div h3 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
    width: fit-content;
    font-family: 'Big Shoulders Display', cursive;
}

.container .content button {
    outline: none;
    border: 2px solid #fff;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 15px;
    width: fit-content;
    background-color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    transition: .3s;
}

.container .content:first-child button {
    color: hsl(31, 77%, 52%);
}

.container .content:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}

.container .content:last-child button {
    color: hsl(179, 100%, 13%);
}

.container .content button:hover {
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
    color: #fff;
}